/* --------------------------- HOVES ------------------------------*/
.style-btn:hover {
    cursor: pointer;
    transform: translateY(5px);
    transition: .1s linear;
    background-color: var(--ternary--color);
    box-shadow: 0px 1px 0px 1px var(--ternary--color);
}
/* -------------------------- ANIMATION ---------------------------*/
@keyframes showPage{

    0% {
        opacity: 0;
    }
    100% {  
        opacity: 1;
    }
}
@keyframes lupa{

    0% { 
        transform: translateZ(-90px);       
    }
    
}
@keyframes shake{

    0% {
        transform: rotateZ(0px);
    }
    25% {
        transform: rotateZ(-45px);
    }
    50% {
        transform: rotateZ(45px);
    }
    100% {  
        transform: rotateZ(0px);
    }
}