

/* ------------------------ HOVES ---------------------------------*/

.style-btn:hover {
    cursor: pointer;
    transform: translateY(3px);
    transition: 0.1s linear;
    box-shadow: 0px 2px 0px #0a110048;
    background-color: #7a2f7afe;
}

/* ---------------------- HEADER ==> Menu  ------------------------*/
.bar-presentation--menu:hover {
    cursor: pointer;
    background-color: #515151;
    border-radius: 50px;
}