

/* ------------------------ HOVES ---------------------------------*/

.style-btn:hover {
    cursor: pointer;
    background-color: #3a2201;
    box-shadow: 0px 2px 0px #0a110048;
    transform: translateY(3px);
    transition: 0.1s linear;
   
}

/* ---------------------- HEADER ==> Menu  ------------------------*/
.bar-presentation--menu:hover {
   
    
    cursor: pointer;
    background-color: #0000007e;
    
}