@media (max-width:1179px) {
    .layout-grid {
        flex-direction: column;
        transition: 1s linear;
    }
    .credit {
        font-size: 12px;
    }
}

@media (max-width:375px) {  
    h1 {
        font-size: 0.9rem;
    }
    p {
        font-size: 0.8rem;
    }
    .encryption-text--caution > img {
        width: 16px;
        height: 16px;
    }
    .style-btn{
        width: 90px;
        font-size: 11px;
    }
}