
body {
    margin: 0;
     background-color: #1a1a1a;
     color: #ffff;
}
/*--------------------- Configuração Estrutura --------------------*/
.wrapper--container {
    display: flex;
    flex-direction: column;
    height: 100dvh;
}

.wrapper {
    display: flex;
}
.wrapper > * {
    flex: 1;
}
.main {
    flex-grow: 1;
    margin-block: 1rem;
}
.layout-grid {
    display: flex;
    gap: 1rem;
}

.column {
    display: flex;
    flex: 1;
    margin-inline: 2rem;
}

.style-page {
    display: flex;
    border-radius: 10px;
    gap: 1rem;
}
/*------------------- Configuração Barra apresentação -------------*/
.bar-presentation {
    display: flex;
    align-items: center;
   justify-content: space-between;
   padding-inline: 0.7rem;
}

.bar-presentation--menu{
    display: flex;
    flex-direction: column;
}

/*--------------------- Configuração caution text -----------------*/
.not-found-text {
    display: none;
    flex-grow: 1;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
    background-color: #272727;
}
.not-found-text > img {
    width: 40%;
}
/*--------------------- Configuração Criptografia -----------------*/
.style-encryption-page {
    display: flex;
    flex-direction: column;
    text-align: center;
    flex-grow: 1;
}
.encryption-input-text{
    flex-grow: 1;
    resize: none;
    letter-spacing: 2px;
    line-height: 1.2rem;
    color: #ffffff;
    background-color: #1f1f1f00;
}
.encryption-decoder {
    display: none;
    justify-content: space-between;
    overflow: hidden;
    border-radius: 7px;
    color: #67b400;
    background-color: aliceblue;
}
.encryption-decoder-show {
    flex-grow: 1;
    text-align: center;
    margin-inline: auto;
    padding: 5px;
    resize: none;
    cursor:default;
    letter-spacing: 2px;
    color: #101010;
    background-color: transparent;
    
}
/*--------------------- Configuração botões -----------------------*/
.style-btn {
    width: 120px;
    padding: 0.5rem;
    border-radius: 8px;
    transition: 0.1s linear;
    background-color: #ff60ff;
    box-shadow: 0px 5px 0px #923f92;
}
.button-container {
    display: flex;
    justify-content: space-evenly;
    margin-block-start: 1rem;
}
.button-container-copy{
  display: flex;
  margin-inline: auto;
  border-radius: 10px 10px 0 0;
  flex-direction: column;
  align-items: center;
  gap: 0.3rem;
  padding: 0.5rem;
}
.encryption-text--caution {
    display: flex;
    justify-content: center;
    gap: 2px;
    margin-block-start:12px;
    font-size: 0.7rem;
}
.encryption-button-erase {
    max-width: 20px;
    height: 20px;
    border-radius: 50px;
    margin-block-end: 10px;
    margin-left: auto;
    padding: 2px;
    cursor: pointer;
    opacity: 0;
    box-shadow: 0px 0px 3px 1px #ff60ff;
    background-color: #d2d2d2;
}
/*--------------------------------- Rodapé --------------------------------------*/
.credit {
    display: flex;
    text-align: center;
    letter-spacing: 2px;
    font-weight: 700;
    padding-block: 0.2rem;
}
/*--------------------------- Seleção de Páginas JS ----------------------------*/
.selection {
    display: flex;
    flex-direction: column;
}